@model Students.Domain.Entities.User

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>

    @using (Ajax.BeginForm("AddUser", "Home",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                }))
    {
        @Html.LabelFor(user => user.UserName)
        @Html.EditorFor(user => user.UserName)
        @Html.ValidationMessageFor(user => user.UserName)
        <br />
        <br />
        @Html.LabelFor(user => user.Password)
        @Html.EditorFor(user => user.Password)
        @Html.ValidationMessageFor(user => user.Password)
        <br />
        <br />
        @Html.LabelFor(user => user.Email)
        @Html.EditorFor(user => user.Email)
        @Html.ValidationMessageFor(user => user.Email)
        <br />
        <br />
        <br />
      <input type="submit" value="Add User" />
    }