@{
    ViewBag.Title = "API documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-4">
        <h2>Housing module</h2>
        <p>
            The module responses for CRUD operations with housing announcments and housing comments.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Housing")'>View actions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Travel module</h2>
        <p>
            The module responses for CRUD operations with travel announcments and travel comments.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Travel")'>View actions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Market module</h2>
        <p>
            The module responses for CRUD operations with market announcments and market comments.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Market")'>View actions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Service module</h2>
        <p>
            The module responses for CRUD operations with service announcments and service comments.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Service")'>View actions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User module</h2>
        <p>
            The module responses for CRUD operations with User.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Account")'>View actions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Group room module</h2>
        <p>
            The module responses for CRUD operations with group room and group chat.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "GroupRoom")'>View actions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Private messages module</h2>
        <p>
            The module responses for CRUD operations with private messages.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "PrivateMessages")'>View actions &raquo;</a></p>
    </div>
</div>